<%- include('partials/header') %>

<div class="login-container">
  <div class="login-box">
      <h2 class="login-title">Login to Travel Tracker</h2>
      <form action="/login" method="POST">
          <label for="login-email" class="login-label">Email:</label>
          <input type="email" id="login-email" class="login-input" name="username" required>
          
          <label for="login-password" class="login-label">Password:</label>
          <input type="password" id="login-password" class="login-input" name="password" required>
          
          <button type="submit" class="login-button">Login</button>
      </form>
      <button class="login-google-button"><a href="/auth/google" style="text-decoration: none; color: white;">Login with Google</a></button>
      <p class="login-text">Don't have an account? <a href="/register" class="login-link">Register</a></p>
  </div>
    </div>

<%- include('partials/footer') %>
