<%- include('partials/header') %>

<div class="register-container">
  <div class="register-box">
      <h2 class="register-title">Register for Travel Tracker</h2>
      <form action="/register" method="POST">
          <label for="register-email" class="register-label">Email:</label>
          <input type="email" id="register-email" class="register-input" name="username" required>
          
          <label for="register-password" class="register-label">Password:</label>
          <input type="password" id="register-password" class="register-input" name="password" required>
          
          <button type="submit" class="register-button">Register</button>
      </form>
      <button class="register-google-button"><a href="/auth/google" style="text-decoration: none; color: white;">Sign up with Google</a></button>
      <p class="register-text">Already have an account? <a href="/login" class="register-link">Login</a></p>
  </div>
    </div>

  <%- include('partials/footer') %>